.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 10px;
    background-color: black;
}
.container {
    width: 100%;
    padding: 20px;
    background: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}
.player_summary{
  color:#28a745
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #222; /* Темный фон таблицы */
    color: #fff; /* Белый текст */
}

.player-name {
    text-align: left;
    color: #4CAF50; /* Яркий зеленый для лучшей видимости */
    font-weight: bold;
}

th, td {
    border: 1px solid #555; /* Серые границы */
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}

th {
    background-color: #333; /* Затемненный заголовок */
    color: #FFD700; /* Желтый цвет заголовков */
}

th.highlighted, td.highlighted {
    font-weight: bold; /* Делаем текст жирнее */
    color: #FFD700; /* Ярко-желтый текст */
    font-size: 2.5em; /* Увеличенный шрифт */
    background-color: #555; /* Чуть светлее, чем остальные */
    padding: 20px; /* Увеличиваем отступы */
}

.score {
    font-size: 2em;
    font-weight: bold;
}

.positive-score { color: #0f0; } /* Ярко-зеленый для плюсового счета */
.negative-score { color: #f00; } /* Ярко-красный для отрицательного счета */

.plus {
    color: #ff4444; /* Красный для плюсов */
    font-weight: bold;
    font-size: 2.25em;
}

.minus {
    color: #4488ff; /* Голубой для минусов */
    font-weight: bold;
    font-size: 2.25em;
}

.dot {
    color: #bbb; /* Серый для точек */
    font-weight: bold;
}


.round-button {
    width: 240px;
    height: 240px;
    background-color: #28a745;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.round-button {
    width: 240px;
    height: 240px;
    background-color: #28a745;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.round-button:hover {
    background-color: #218838;
}

input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}


.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: black;
}

.login-form {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}


button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
